<html>

<head>
    <title> BlockCertificate.co Test Environment </title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/SHA-256.js" type="text/javascript">></script>
    

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
			
			padding-bottom: 70px;
        }
    </style>

</head>

<body>
    <div class="container">

                <div class="col-xs-12">

<div class="jumbotron"><center> <h2>Team Dev Testing Zone</h2> </center></div>

<hr>


<div class="col-xs-12">
<section>
<h2>Test 3</h2>


<style>
  .hashiresult {
  padding: 20px;
  
  }

  #byte_content {
    margin: 5px 0;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #byte_range { margin-top: 5px; }
</style>

<input type="file" id="files" name="file" /> Read bytes: 
<span class="readBytesButtons">
  <button class="btn btn-primary">Hash Entire File</button>
</span>
<div id="byte_range"></div>
<div class="hashiresult" id="byte_content"></div>


</div>

</div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript">></script>
    <script src="js/hsh.js" type="text/javascript">></script>

</body></html>