 body {
     

 }
 

 .resultText {
	 font-size: 1.5em;
	 min-height: 100Tpx;
	 
 }
 
 .largefont {
	 font-size: 5em;
 }
 
 .greenEdge{
 border: 2px solid #73AD21;
 border-radius: 15px 50px 30px;
 background-color: rgba(0, 179, 0, 0.11);
    margin: 10;
    padding: 30;
    padding-bottom: 55;
    width: 100%;
    min-height: 150px;
 }
 
 .redEdge{
 border: 2px solid red;
 border-radius: 15px 50px 30px;
 background-color: rgba(204,0,0,0.11);
    margin: 10;
    padding: 30;
    padding-bottom: 55;
    width: 100%;
    min-height: 150px;
 }
 
 .hashiresult {
     padding: 20px;
	 margin-left: 40px;
 }
 #byte_content {
     margin: 5px 0;
     max-height: 100px;
     overflow-y: auto;
     overflow-x: hidden;
 }
 #byte_range {
     margin-top: 5px;
	 font-size: 0.8em;
 }
 
.tabscol{
	padding-top: 20px;
	margin-top:20px;
}
 
.sidetabs{
    width: 100%;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 2px;
    background-color: #1abc9c;
 }
 
 p {
	 padding: 2px;
 }
 
 .green {
    color: #00b300;
}

.red { color: #cc0000 ;}
 	
.resultVerified {
	border: 2px solid #73AD21;
}

.resultUnverified {
	border: 2px solid red;
}
 
 .resultbox {
	display: inline-block;
    height: 105px; 
	min-width: 105px; 

 }